<h1>Convert <%= @currency %></h1>

<p>Go <a href="/">back</a>.</p>

<ul>
  <% @symbols.each do |key, value| %>
    <li>
      <a href="/<%= @currency %>/<%= key %>">
        Convert 1 <%= @currency %> to <%= key %>...
      </a>
    </li>
  <% end %>
</ul>
